h2 {
    color: #B07156;
}
h10{
    color: #c4a287;
}
a{
    color: #000000;
}
.pic{
    border-radius: 40%;
}
body{
    background-color: #E6E6E6;
}
.col{
    background-color: #B8E1FF;
    color: #9d9171;
}
.sec{
    color: #38023B;
}
.des{
    color: #8F2d56;
    background-color: #e09f3E;
}
.add{
    color: #8F2d56;
}
